{% set is_embeded = layout == constant('\\App\\Model\\Tag::LAYOUT_EMBEDDED') %}
<div class="col-12 my-2 {{ not is_embeded ? 'col-sm-6 col-md-4 col-xl-3 col-xxl-2' }}" {{ stimulus_controller('bookmark') }} {{ attributes }}>
    {% set imageStyle %}
        {% if bookmark.mainImage is defined and bookmark.mainImage.contentUrl is defined %}
            background-image: url({{ bookmark.mainImage.contentUrl }});
        {% endif %}
    {% endset %}
    <div id="bookmark-{{ bookmark.id }}" class="card h-100">
        {% if is_embeded %}
            {% set embed_player = bookmark.url|find_embed %}
            {% if embed_player is not empty %}
                <div class="card-img-top bookmark-img embed-img">
                    {{ embed_player|raw }}
                    <div class="embed-action">
                        <twig:ux:icon name="ph:play-circle-thin" class="embed-action-icon"/>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {% if not is_embeded or not embed_player is defined %}
            <div class="card-img-top bookmark-img flex-shrink-0" style="{{ imageStyle }}">
                <a target="_blank" class="d-block h-100 w-100" href="{{ bookmark.url }}"></a>
            </div>
        {% endif %}

        <div class="card-body {{ is_embeded ? 'd-flex align-items-center' }}">
            <div class="card-title {{ is_embeded ? 'flex-grow-1 mb-0' }}">
                <a target="_blank" class="text-decoration-none" href="{{ bookmark.url }}">
                    <small class="badge rounded-pill text-bg-light border fw-light">{{ bookmark.url|host }}</small>
                    {{ bookmark.title }}
                </a>
            </div>
            <div class="pt-2">
                {% for tag in bookmark.tags|sort_tags %}
                    {% set isSelected = tag.slug in selectedTagSlugs %}
                    <a class="btn btn-outline-secondary btn-xs mb-1 {{ isSelected ? 'active' }}"
                       href="{{ path('index', app.request.query.all|query_toggle_tag(tag.slug)) }}">
                        {{ tag.name }}
                    </a>
                {% endfor %}
                <a class="btn btn-outline-primary btn-xs mb-1"
                   href="#">
                    #
                </a>
            </div>
        </div>
        <div class="card-footer text-body-secondary d-flex align-items-center py-1 pe-0">
            <div class="fs-small flex-grow-1">{{ bookmark.createdAt|date('d/m/Y') }}</div>
            <div>
                {% apply spaceless %}
                <a class="btn btn-outline-secondary border-0"
                   href="{{ path('bookmark_edit', {id: bookmark.id}) }}"
                   data-turbo-frame="bookmark_edit_frame">
                    <twig:ux:icon name="ph:eye" />
                </a>
                <button {{ stimulus_action('bookmark', 'share', 'click', {bookmark: bookmark}) }}
                   class="btn btn-outline-secondary border-0">
                    <twig:ux:icon name="ph:share-fat" />
                </button>
                {% endapply %}
            </div>
        </div>
    </div>
</div>
