<div class="{{ showInline ? 'pe-2' }}" {{ attributes }}>
    {% set isSelected = tag.slug in selectedTagSlugs %}
    <div class="d-flex align-items-center mb-2 position-relative tag-hover-edit" {{ showInline ? 'style="padding-right: 2.5rem"' }}>
        <a type="button"
                class="btn btn-outline-secondary border-0 text-start flex-grow-1 {{ isSelected ? 'active' }}"
                href="{{ path('index', app.request.query.all|query_toggle_tag(tag.slug)) }}">
            {{ tag.name }}
        </a>
        <div class="tag-edit-button position-absolute" style="right: 0">
            <a class="btn btn-outline-secondary border-0"
               href="{{ path('tag_edit', {slug: tag.slug}) }}"
               data-turbo-frame="tag_edit_frame">
                <twig:ux:icon name="ph:pencil" />
            </a>
        </div>
    </div>
</div>
