<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
        },
    }) }}
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Edit tag</h5>
            <p class="card-text">
                {{ form_row(form.name) }}
                {{ form_row(form.pinned, {label: 'Favorite'}) }}
                {{ form_row(form.layout, {label: 'Page Layout'}) }}
            </p>
            {{ form_row(form.submit, {label: 'Save'}) }}
            <div class="mb-3">
                <button class="btn btn-secondary" {{ live_action('cancel') }}>Cancel</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="mb-3 text-end">
        <twig:TagDelete
            title="Confirm"
            text="Are you sure to delete {{ tag.name }}?"
            icon="warning"
            showCancelButton="true"
            data-live-item-slug-param="{{ tag.slug }}"
            class="btn btn-danger"
        >Delete</twig:TagDelete>
    </div>
</div>
